<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base</title>
</head>
<body>
<a href="{% url 'table' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Посмотреть весь бетон</button></li></a>
<a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить бетон</button></li></a>

</body>
</html>