<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.data }} <br>
    {{ form.factory_name }}<br>
    {{ form.object_name }}<br>
    {{ form.block }}<br>
    {{ form.mark }}<br>
    {{ form.constructive }}<br>
    {{ form.floor }}<br>
    {{ form.fact_concrete }}<br>
    {{ form.sum_concrete }}<br>
    {{ form.accepted }}<br>
    <span>{{ error }}</span>
    <button class="" type="submit">Добавить бетон</button>
</form>

</body>
</html>