<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base</title>
</head>
<body>


<form method="post">
    {% csrf_token %}
    {{ form.name }} <br>
    {{ form.surname }} <br>
    {{ form.phone }} <br>
    {{ form.sms }} <br>
    {{ form.job }} <br>
    <span>{{ error }}</span>
    <button class="" type="submit">Зарегестрироваться</button>

</form>





</body>
</html>